/* CSS für den Footer */
footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #33333300;
    color: #757575;
    padding: 1.5rem;
}

/* Stil für Links im Footer */
footer a {
    color: #757575;
    text-decoration: none;
    font-size: 14px;
}

/* Stil für die Footer-Überschrift */
footer h2 {
    font-size: 1.5rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

/* Stil für unter Kategorien */
.contact-info>h4 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px #8b019d solid;
}

/* Stil für das zweite Navigationsmenü im Footer */
.footer-nav {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-left: 2px #111111 solid;
}

.footer-nav a {
    margin: 10px 0;
}