/* Stil für den Header */
header {
    background-color: #333; /* Hintergrundfarbe des Headers */
    color: #fff; /* Textfarbe im Header */
    padding: 10px 0; /* Innenabstand oben/unten 10px, links/rechts 0 */
  }
  
  /* Stil für das Navigationsmenü */
  nav {
    display: flex; /* Elemente im Navigationsmenü nebeneinander anordnen */
    justify-content: space-between; /* Inhalt im Navigationsmenü gleichmäßig verteilen */
    align-items: center; /* Elemente vertikal zentrieren */
    max-width: 1200px; /* Maximale Breite des Navigationsmenüs */
    margin: 0 auto; /* Zentriert das Navigationsmenü horizontal */
    padding: 0 20px; /* Innenabstand oben/unten 0, links/rechts 20px */
  }
  
  /* Stil für das Logo */
  .nav-logo {
    text-decoration: none; /* Entfernt die unterstrichene Textdekoration */
  }
  
  .nav-logo h2 {
    margin: 0; /* Entfernt den oberen und unteren Abstand des H2-Elements */
    font-size: 24px; /* Schriftgröße des Logos */
  }
  
  /* Stil für die Navigationslinks */
  .navlink-container {
    display: flex; /* Elemente in der Navigationslink-Container nebeneinander anordnen */
    gap: 20px; /* Abstand zwischen den Navigationslinks */
  }
  
  .nav-item {
    text-decoration: none; /* Entfernt die unterstrichene Textdekoration */
    color: #fff; /* Textfarbe der Navigationslinks */
    font-size: 16px; /* Schriftgröße der Navigationslinks */
  }
  
  /* Stil für den Login-Link */
  .nav-login a {
    text-decoration: none; /* Entfernt die unterstrichene Textdekoration */
    color: #fff; /* Textfarbe des Login-Links */
    font-weight: bold; /* Fettschrift für den Login-Link */
  }
  
  /* Stil für Hover-Effekte (z.B., wenn der Mauszeiger über einem Link schwebt) */
  .nav-item:hover, .nav-login a:hover {
    text-decoration: underline; /* Unterstrichenen Text hinzufügen */
  }
  